div.titlearea {
	width: 650px;
}

div.title {
	font-weight: bold;
	font-size: xx-large;
	text-align: center;
	padding: 10px 0px 10px 0px;
}

div.subtitle {
	font-size: large;
	text-align: center;
	padding: 10px 0px 10px 0px;
}

div.copyright {
	font-size: small;
	text-align: center;
	padding: 0px 0px 50px 0px;
}

h1 {
	width: 650px;
	color: White;
	background-color: #2FAFBF;
	padding: 5px 0px 5px 5px;
	font: bold x-large sans-serif;
}

h2 {
	padding: 15px 0px 0px 0px;
	font: bold large sans-serif;
}

h3 {
	padding: 5px 0px 0px 0px;
	font: bold medium serif;
}

div.text {
	width: 600px;
	font-size: medium;
	margin: 20px 0px 50px 50px;
}

dt {
	font-weight: bold;
}

pre.code {
	background-color: #F8F8FF;
	margin: 4px 10px 4px 10px;
	padding: 8px 0px 8px 0px;
	border: 1px dotted Black;
	font-family: monospace;
}

img.figure {
	margin: 0 0 0.2em 50px;
	padding: 5px;
}

blockquote {
	padding: 10px 10px 10px 10px;
	border: thin dotted Silver;
	background: InfoBackground;
}